@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
:root {
	--rotate-deg: 0deg; 
	/*
		blue: 35.7777 
		brown: 207.175
		green: 308.15
		red: 154.867
	*/ 	
}
img {
	max-width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 21px;
	width: 50%;
	height: 50%;
  }
body {
	 font-family: 'Source Code Pro', monospace;
	 
}
html {background:white;}
 body {
	 align-items: center;
	 background-color: #00657B;
	 /*background-color: #b606bf;*/
	 /*background: hsl(50%,50%,50%);*/
	 /*background: #2a3546;*/
	 display: flex;
	 justify-content: center;
	 min-height: 100vh;
	 filter: hue-rotate(var(--rotate-deg))	;
}
 #combo-lock #indicator {
	 border: 2px solid #070707;
	 border-radius: 50%;
	 height: 32px;
	 margin: 0 auto 24px;
	 overflow: hidden;
	 position: relative;
	 width: 32px;
}
 #combo-lock #indicator.locked svg.unlocked {
	 transform: translate(-50%, 50%);
}
 #combo-lock #indicator.unlocked svg.locked {
	 transform: translate(-50%, -100%);
}
 #combo-lock #indicator.unlocked svg.unlocked {
	 transform: translate(-50%, -50%);
}
 #combo-lock #indicator svg {
	 padding: 16px;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 transition: transform 0.25s ease;
	 width: 16px;
}
 #combo-lock #indicator svg.locked {
	 background: #f56666;
	 cursor: pointer;
}
 #combo-lock #indicator svg.unlocked {
	 background: #50ef87;
}
 #combo-lock #combination {
	 border: 2px solid #070707;
	 border-radius: 4px;
	 display: flex;
	 padding: 0 4px;
}
 #combo-lock #combination .wheel {
	 font-size: 24px;
	 padding: 0 4px;
	 text-align: center;
}
 #combo-lock #combination .wheel .increment, #combo-lock #combination .wheel .decrement {
	 background: #1d242f;
	 border: 2px solid #070707;
	 border-radius: 50%;
	 cursor: pointer;
	 height: 24px;
	 position: relative;
	 transition: border-color 0.1s ease;
	 width: 24px;
}
 #combo-lock #combination .wheel .increment:active, #combo-lock #combination .wheel .decrement:active {
	 border-color: #fff;
}
 #combo-lock #combination .wheel .increment.click, #combo-lock #combination .wheel .decrement.click {
	 border-color: #fff;
	 transition: border-color 0s ease;
}
 #combo-lock #combination .wheel .increment img, #combo-lock #combination .wheel .decrement img {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 24px;
}
 #combo-lock #combination .wheel .increment {
	 margin-top: -14px;
}
 #combo-lock #combination .wheel .decrement {
	 margin-bottom: -14px;
}
#combo-lock #combination .wheel .digit {
	-moz-appearance: textfield;
	background: #00657B;
	border: 2px solid #070707;
	border-radius: 24px;
	caret-color: #1d242f;
	color: #fff;
	cursor: pointer;
	margin: 8px 0;
	outline: none;
	padding: 8px 0;
	text-align: center;
	user-select: none;
	transition: border-color 0.1s ease;
	width: 100px;
	height: 84px;
}
/*
#combo-lock #combination .wheel .digit-wine {
	-moz-appearance: textfield;
	background: var(--wine-color);
	border: 2px solid #070707;
	border-radius: 24px;
	caret-color: #1d242f;
	color: #fff;
	cursor: pointer;
	margin: 8px 0;
	outline: none;
	padding: 8px 0;
	text-align: center;
	user-select: none;
	transition: border-color 0.1s ease;
	width: 24px;
}
#combo-lock #combination .wheel .digit-tree {
	-moz-appearance: textfield;
	background: var(--tree-color);
	border: 2px solid #070707;
	border-radius: 24px;
	caret-color: #1d242f;
	color: #fff;
	cursor: pointer;
	margin: 8px 0;
	outline: none;
	padding: 8px 0;
	text-align: center;
	user-select: none;
	transition: border-color 0.1s ease;
	width: 24px;
}
#combo-lock #combination .wheel .digit-leaf {
	-moz-appearance: textfield;
	background: var(--leaf-color);
	border: 2px solid #070707;
	border-radius: 24px;
	caret-color: #1d242f;
	color: #fff;
	cursor: pointer;
	margin: 8px 0;
	outline: none;
	padding: 8px 0;
	text-align: center;
	user-select: none;
	transition: border-color 0.1s ease;
	width: 24px;
}
*/
 #combo-lock #combination .wheel .digit:focus {
	 border-color: #fff;
}
 #combo-lock #combination .wheel .digit::-webkit-inner-spin-button, #combo-lock #combination .wheel .digit::-webkit-outer-spin-button {
	 -webkit-appearance: none;
	 margin: 0;
}

#combo-lock #combination .wheel .digit::selection {
	background: transparent;
}






@import "compass/css3";
 .magic-container {
	 position: absolute !important;
	 left: 10%;
	 top: 10%;
}
 #magic-circle {
	 width: 100px;
	 height: 100px;
	 border: 2px solid black;
	 border-radius: 100%;
	 float: left;
}
 #magic-slider {
	 position: relative;
	 height: 15px;
	 width: 15px;
	 background: black;
	 left: 42.5px;
	 top: -7.5px;
	 border-radius: 100%;
	 cursor: pointer;
}
 .magic-range {
	 float: left;
	 width: 30px;
}
.quote {
	position: absolute !important;
	top: 80%;
	right: 10%;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 45px;
}
 